body {
    margin: 0;
    font-family: "Host Grotesk", sans-serif;
}

h1 {
    line-height: 20px;
    font-weight: 500;
    color: #0d324d;
}

button {
    border-radius: 4px !important;
}

.App {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
}

.uploadsDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    align-items: flex-start;
    padding: 1rem 0;
}

.uploadSection,
.importSection {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    height: 40px;
}

.fileInput,
.urlInput {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline-color: #277da1;
    transition: border-color 0.3s ease;
}

.fileInput:focus,
.urlInput:focus {
    border-color: #277da1;
}

input::file-selector-button {
    color: #277da1;
    padding: 3px 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

input::file-selector-button:hover {
    background-color: #cecccc;
}

input::file-selector-button:active {
    background-color: #b3b0b0;
}

.uploadButton,
.importButton {
    min-width: 100px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #277da1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.uploadButton:hover,
.importButton:hover {
    background-color: #0056b3;
}

.uploadButton:active,
.importButton:active {
    background-color: #003f7f;
}

.rbc-month-view {
    border-radius: 4px;
}

.rbc-header {
    font-weight: 500 !important;
    padding: 6px 0 !important;
}

.rbc-btn-group>button {
    box-shadow: none !important;
    cursor: pointer;
    border: none !important;
}

.rbc-toolbar-label {
    font-size: 20px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login form {
    background: #fff;
    padding: 4rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login input {
    min-width: 300px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login button {
    padding: 0.7rem 1.5rem;
    background: #277da1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.login button:hover {
    background: #0056b3;
}

.flexContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

label {
    color: rgb(85, 85, 85);
    line-height: 2rem;
}

p {
    margin: 0;
}